*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
RecipePartDeux.iml
.idea/workspace.xml
.idea/vcs.xml
.idea/uiDesigner.xml
src/RecipeListTest.java
src/Test.java
out/production/RecipePartDeux/RecipeList.txt
.idea/libraries/sqlite_jdbc_3_7_2.xml
createRecipeDatabase.sql
recipeQuery.sql
sqlite3.exe
